@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-bg: #7f1218;
    --color-brand-card: #ffffff;
    --color-brand-accent: #f4b24f;
    --color-brand-headline: #fffffe;
    --color-brand-paragraph: #f4f1ed;
    --color-brand-stroke: #242424;
    --color-brand-tertiary: #b71c24;
}

@font-face {
    font-family: 'Mona Sans';
    font-style: normal;
    src: url('../../public/fonts/public_fonts/mona_sans/MonaSans-VariableFont_wdth,wght.ttf')
}

body {
    background-color: #f0eeea;
    color: #242424;
    font-family: "Instrument Sans", sans-serif;
}

.font-mona-sans {
    font-family: 'Mona Sans', sans-serif;
}
